body{
    font-family: 'Poller One', cursive;
    background-image: url(./images/background.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 150px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0;
    color: yellow;
    -webkit-text-stroke: 3px black;  
}

.episode {
    font-size: 30px;
    color: yellow;
    
}

.episode_input {
    font-size: 30px;
    font-family: 'Poller One', cursive;
    cursor: pointer;
}

.btn {
    font-size: 28px;
    width: 240px;
    height: 40px;
    border: solid black;
    border-radius: 5px;
    background-color: rgb(0, 247, 255);
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: yellowgreen;
    transform: translate(0, 0.1em);
}

.btn:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.2em, -0.3em);
}

.btn:active {
    background: yellowgreen;
    transform: translate(0em, 0.2em);
}

.btn:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -0.3em);
}

.query {
    text-align: center;
    padding: 10px;
}

.person {
    width: 300px;
    height: 650px;
    border: solid 2px black;
    text-align: center;
    margin: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 20%);
           
}

.person:hover, .planet:hover {
    transform: translate(0, 0.1em);    
}

.person:hover::before, .planet:hover::before {
    transform: translate3d(0, 0.2em, -0.3em);
}

.person_name {
    font-size: 40px;
    color: green;
    -webkit-text-stroke: 1px black;
    padding: 3px;
}

.person_birth {
    font-size: 20px;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.person_gender {
    font-size: 20px;
    color: yellow;
    -webkit-text-stroke: 1px black;
}

.image_person, .image_planet {
    height: 300px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.planet {
    width: 300px;
    height: 500px;
    border: solid 2px black;
    background: white transparent 0, 2;
    text-align: center;
    margin: 10px;
}

.planet_name {
    font-size: 40px;
    color: green;
    -webkit-text-stroke: 1px black;
    padding: 3px;
}

